@font-face {
    font-family: pirate;
    src: url('fonts/appleton.otf');
}

body {
    
  color: black;
  background-image:url(img/background.jpg);
  background-position: -700px 0px;
}

.panel {
  background: #EAEAEA;
}

.nav-tabs li a {
  background: rgba(255,255,255,0.7);
}

.text-reg {
  text-align: center;
}

.var-text-succes {
  display: none;
}

.var-text-fail {
  display: none;
}

ul.nav {
margin-top: 20px;
}

#tabs {
    color: black;
    font-weight: bold;
    font-size: 12px;
}

.logout {
  float: right;
}

a:hover, a:link {
  color: inherit;
  text-decoration: none;
}
.userinfo {
  background: rgba(255,255,255,0.6);
}

.page-header {
  text-align: center;
  color: white;
}

.page-header h1, .page-header h2 {
    font-size: 40px;
  font-family: pirate;
  background: rgba(20,20,20,0.5);
}

.piece {
  background: url('img/lock.png') no-repeat center;
  /*background: blue;*/

  border: 1px solid;
}

.piece-1 {
  background-image: url(img/piece1.png);
    background-size: cover;
    opacity: 0;
}

.piece-2 {
  background-image: url(img/piece2.png);    
    background-size: cover;
    opacity: 0;
}

.piece-3 {
  background-image: url(img/piece3.png);  
    background-size: cover;
    opacity: 0;
}

.piece-4 {
  background-image: url(img/piece4.png);  
    background-size: cover;
    opacity: 0;
}

.piece-5 {
  background-image: url(img/piece5.png);  
    background-size: cover;
    opacity: 0;
}

.piece-6 {
  background-image: url(img/piece6.png);   
    background-size: cover;
    opacity: 0;
}

.puzzle-container {
  margin-top: 30px;
}
#puzzle-piece {
    width: 50px;
    height: 75px;
}
.panel-heading {
    background-color: rgba(0,0,0,0.5);
}
.panel-heading {
    padding: 0;
}

.text-reg {
  background: rgba(255,255,255,0.7);
}

.text-reg h4{
    font-size: 30px;
    font-family: pirate;
}
#marker {
    width: 40px;
    height: 40px;
}

.panel-title {
  overflow: hidden;
}

.panel-title a {
  padding-left: 10px;
  vertical-align: bottom;
  line-height: 40px;
}

.done img {
  width: 30px !important;
  height: 30px !important;
  display: inline-block;
  float: left;
}


/* CHAT */

#wrapper, #loginform {  
background: #EBF4FB;
max-height: 1000px;
max-width: 100%;
min-width: 100%;
}

#chatbox {
padding: 0px 10px;
height: 900px;
overflow: hidden;
}

.head {
background: #ADADAD; /* Old browsers */
height: 70px;
padding: -5px;
}
	
.logout {
float: left;
margin-top: 20px;
margin-left: 20px;
}

.welcome {
float: right;
margin: 20px;
margin-top: 25px;
font-size: 14px;
}
	
.message {
background: #ADADAD; /* Old browsers */
height: 80px !important;
width: 100%;

}

#submitmsg {
margin-bottom: 7px;
}

#usermsg {
margin-bottom: 7px;
}

form {
padding: 10px;
}

.message img {
padding: 5px;
}

/***********************************************************************/