*{
    margin:0 auto;
}

@font-face{
    font-family:parry_hotter;
    src: url('fonts/parryhotter/parry_hotter.ttf');}

html, body{
    background-color: #dedede;
    font-family:calibri;
    height:100%;
    min-width: 1080px;
}

h1{
    font-family:parry_hotter;
    font-size: 48px;
    position:absolute;
    left:47px;
    top:2px;
}

h2{
    font-size:48px;
    font-family:parry_hotter;
    color:white;
    text-stroke: 1.3px black;
    -webkit-text-stroke: 1.3px black;
    -moz-text-stroke: 1.3px black;
    -o-text-stroke: 1.3px black;
}

#wrapper{
    margin: 0 auto;
}

#header-wrapper, #footer-wrapper{
    background:#fffeff;
    height: 100px;
    position:relative;
}

.menu, #playlist{
    color:black;
    overflow: hidden;
    top: 14px;
    right:10px;
}

.menu{
    position:absolute;
}

.menu ul, #playlist ul{
    margin: 0px 0px 0px 0px;
	padding: 0px 0px;
	list-style: none;
	line-height: normal;
}

.menu li, #playlist li{
    margin:2px;
    display: inline-block;
}

.menu a{
	display: block;
	padding: 0px 40px 0px 40px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
    font-size:24px;
	font-weight: 200;
	color: black;
	border: none;
}

.menu a {
    line-height: 70px;
}

#slider {
    background:url('img/slider_1.jpg');
    background-size:100%;
    height:319px;
}

#mediaplayer{
    position:relative;
    background: #141413;
    padding:5px;
    height:32px;
}

#controls{
    position:absolute;
    top: 5px;
    left:187px;
}

#mediaplayer p{
    font-weight:inherit;
    font-size:18px;
    position:absolute;
    top:9px;
    right: 90px; 
    color:white;
}

ul {
    list-style:none;
}

#playlist{
    background:#666;
    width:400px;
    padding:20px;
}

.active a{
    color:#5DB0E6;
    text-decoration:none;
}

#playlist li a{
    color:#eeeedd;
    background:#333;
    padding:15px;
    display:block;
}

#playlist li a:hover{
    text-decoration:none;
}

.container{
    padding: 20px;
    position:relative;
    overflow: hidden;
    display:block;
}

.container p{
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -o-column-count: 2;
    column-count: 2;
    text-align: justify;
  float: left;
    width: 55%;
    padding-right: 20px;    
}

.tracklist{
    position:absolute;
    top:15px;
    right:15px;
}

.footer, .container:after {
    height:50px;
}

#footer-wrapper{
    padding-top:41px;
}

#footer-wrapper p{
    font-size: 15px;
    text-align:center;
    text-transform:bold;
    font-weight:bolder
}